.countries {
  display: flex;
  gap: 36px;
}
.lists {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.detail {
  width: 50vw;
  border-left: 0.1px solid black;
  padding-left: 36px;
}
.country {
  border-bottom: 0.1px solid black;
}
.countryName {
  font-size: 24px;
  font-weight: 600;
}
.text {
  font-size: 18px;
  font-weight: 600;
}
.text2 {
  font-size: 24px;
  font-weight: 700;
}
.image {
  width: 450px;
  height: 250px;
  border: 0.1px solid black;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: fixed;
}
.image2 {
  width: 200px;
  height: 200px;
}
